In [ ]:
True

In [1]:
False

False

In [2]:
3>1

True

In [3]:
10 == 10

True

In [4]:
10 != 5

True

In [5]:
'Python' == 'Python'

True

In [6]:
'Python' == 'python'

False

In [7]:
'Pyhon' != 'python'

True

In [8]:
10>20

False

In [9]:
10 <20

True

In [10]:
10 >= 10

True

In [11]:
10 <= 10

True

In [12]:
1 == 1.0

True

In [13]:
1 is 1.0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-13-2ebf4c947f31>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1 is 1.0

False

In [14]:
1 is not 1.0

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-14-7a2cea8bf2ec>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  1 is not 1.0

True

In [15]:
id(1)

94802914577728

In [16]:
id(1.0)

140083485062864

In [17]:
True and True

True

In [18]:
True and False

False

In [19]:
False and True

False

In [20]:
False and False

False

In [21]:
True or True

True

In [22]:
True or False

True

In [23]:
False or True

True

In [24]:
False or False

False

In [25]:
not True

False

In [26]:
not False

True

In [27]:
not True and False or not False

True

In [28]:
False and False or True
False or True
True

True

In [29]:
((not True) and False) or (not False)

True

In [30]:
10 == 10 and 10 !=5  # True and True

True

In [31]:
10> 5 or 10<3 ## True or False

True

In [32]:
not 10 > 5 #not True

False

In [33]:
not 1 is 1.0

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-33-b4bf5bb1d071>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  not 1 is 1.0

True

In [34]:
korean = 92
english = 47
mathematics =86
science = 81 

print( korean >= 50 and english >= 50 and mathematics >=50 and science >= 50)

False

In [35]:
hello  = 'Hello, world!'
hello

'Hello, world!'

In [36]:
hello = '안녕하세요'

In [37]:
hello = '''Hello, Python!'''

In [38]:
print(hello)

Hello, Python!

In [39]:
hello = '''Hello, world! 

안녕하세요. Python입니다'''

print(hello)

Hello, world!

안녕하세요. Python입니다

In [40]:
s= "Python isn't difficult"
print(s)

Python isn't difficult

In [41]:
s  = 'He said "Python is easy"'
print(s)

He said "Python is easy"

In [42]:
sigle_quote = '''"안녕하세요." 
'파이썬'입니다.'''

double_quote1 = """"Hello"
'Python'"""

double_quote2 = """Hellom 'Python"""

print(sigle_quote)

print(double_quote1)

print(double_quote2)

"안녕하세요."
'파이썬'입니다.
"Hello"
'Python'
Hellom 'Python

In [43]:
print('Hello\nPython')

Hello
Python

In [44]:
'''Hello 
Python'''

'Hello \nPython'

In [45]:
s =""" Python is a programming language that lets you work quickly \n integrate systems more effectively."""

In [46]:
print(s)

 Python is a programming language that lets you work quickly
 integrate systems more effectively.

In [47]:
a = 10
b = 20

In [48]:
a1 = 10
a2 = 20
a29 =60
a30 =40

In [49]:
a = [39,21,53,62,19]

a

[39, 21, 53, 62, 19]

In [50]:
person = ['james', 18 , 174.3 , True]


person

['james', 18, 174.3, True]

In [51]:
a = []

In [52]:
b  = list()
b

[]

In [53]:
range(10)
range(0,10)

range(0, 10)

In [54]:
a  = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
b = list(range(123,1234))

In [56]:
print(b.count)

<built-in method count of list object at 0x7f67ba3ee900>

In [57]:
c = list(range(-4,10,2))
print(c)

[-4, -2, 0, 2, 4, 6, 8]

In [58]:
d = list(range(10,0,-1))
print(d)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [59]:
a = (38,21,53,62,19)
a

(38, 21, 53, 62, 19)

In [60]:
person = ('james', 17, 175.3, True)
print(person)

('james', 17, 175.3, True)

In [61]:
(38)

38

In [62]:
(38,)

(38,)

In [63]:
a = tuple(range(10))

In [64]:
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [65]:
b = tuple(range(5,12))
b

(5, 6, 7, 8, 9, 10, 11)

In [66]:

c= tuple(range(-4,10,2))
c

(-4, -2, 0, 2, 4, 6, 8)

In [67]:
a = [1,2,3]
tuple(a)

(1, 2, 3)

In [68]:
b= (4,5,6)
list(b)

[4, 5, 6]

In [69]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [70]:
tuple('Hello')

('H', 'e', 'l', 'l', 'o')

In [71]:
x = [1,2,3]
a,b,c = x

In [72]:
print(a,b,c)

1 2 3

In [73]:
a= [1,2,3]
b = (1,2,3)
c= 1,2,3

In [74]:
print(list(range(5,-11,-2)))

[5, 3, 1, -1, -3, -5, -7, -9]

In [75]:
a = [0,10,20,30,40,50,60,70]
30 in a

True

In [76]:
100 in a

False

In [77]:
100 not in a
30 not in a

False

In [78]:
43 in (38,76,43 ,62,19)

True

In [79]:
231 in range(-100, 30 ,2)

False

In [80]:
'P' in 'Piza'

True

In [81]:
a = [0, 10, 20 ,30]
b = [9, 8, 7,6]
a+b

[0, 10, 20, 30, 9, 8, 7, 6]

In [83]:
a = list('bannn')
b = list('apple')
a+b

['b', 'a', 'n', 'n', 'n', 'a', 'p', 'p', 'l', 'e']

In [84]:
range(0,10) + range(10,20)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [85]:
list(range(0,10))+ list(range(0,20))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19]

In [86]:
'Hello' + 'world'

'Helloworld'

In [87]:
'Hello,' + str(10)

'Hello,10'

In [88]:
'Hello,' + str(1.5)

'Hello,1.5'

In [89]:
[0,10,20,30,40]*3

[0, 10, 20, 30, 40, 0, 10, 20, 30, 40, 0, 10, 20, 30, 40]

In [90]:
range(0,5,2)*

SyntaxError: invalid syntax (<ipython-input-90-4203f8b4d957>, line 1)

In [91]:
list(range(0,5,2) )*3

[0, 2, 4, 0, 2, 4, 0, 2, 4]

In [95]:
a = 'Hello'
b=a*3

In [97]:
list(b)
len(b)

15

In [98]:
b = (38,76,43,62,19)
len(b)

5

In [99]:
len(range(0,10,2))

5

In [100]:
hello = "Hello, world"
len(hello)

12

In [101]:
a = [38,21,54,62,19]
print(a[0])
print(a[2])
print(a[3])

38
54
62

In [102]:
b = (38,21,53,62,19)
b[0]

38

In [103]:
r = range(0,10,2)
r[2]

4

In [104]:
a= [ 0, 10,20, 30,40,50,1060 ,230 ,2340]
a[0:4]

[0, 10, 20, 30]

In [105]:
a[0:10]

[0, 10, 20, 30, 40, 50, 1060, 230, 2340]

In [106]:
a[1:1]

[]

In [107]:
a[1:2]

[10]

In [108]:
a= [0,10,20,30,40,50]

In [109]:
a[4:7]

[40, 50]

In [110]:
a[2:-1]

[20, 30, 40]

In [111]:
a = [0,10,20,30,40,50,60,70,80,90]
a[2:8:3]

[20, 50]

In [112]:
a[2:9:3]

[20, 50, 80]

In [113]:
a[:7]

[0, 10, 20, 30, 40, 50, 60]

In [114]:
a[7:]

[70, 80, 90]

In [115]:
a[:]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [116]:
a= [0,10,20,30,40,50,60,70,80,90]
a[:7:2]

[0, 20, 40, 60]

In [117]:
a = [0,10,20,30,40,50,60,70,80,90]
a[0:len(a)]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [118]:
a[0:len(a)]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [119]:
b = tuple(a)

In [120]:
print(b)

(0, 10, 20, 30, 40, 50, 60, 70, 80, 90)

In [121]:
b[4:7]

(40, 50, 60)

In [122]:
r = range(10)
r

range(0, 10)

In [123]:
r[4:7]

range(4, 7)

In [124]:
r[4:]

range(4, 10)

In [125]:
r[:7:2]

range(0, 7, 2)

In [126]:
list(r[:7:2])

[0, 2, 4, 6]

In [127]:
hello = "Hello, world!"

In [128]:
hello[:6]

'Hello,'

In [129]:
print(a)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [130]:
a[2:5] = ['a','b','c']

In [131]:
print(a)

[0, 10, 'a', 'b', 'c', 50, 60, 70, 80, 90]

In [132]:
a[5:] = [ 'f','s','s','e','n']

In [134]:
print(a)

[0, 10, 'a', 'b', 'c', 'f', 's', 's', 'e', 'n']

In [135]:
a = [0, 10,20,30,40,50,60,70]

In [136]:
a[1:-3] = ['b','c','d','e']

In [137]:
print(a)

[0, 'b', 'c', 'd', 'e', 50, 60, 70]

In [138]:
del a[2:5]

In [139]:
print(a)

[0, 'b', 50, 60, 70]

In [141]:
b=tuple(a)

In [143]:
del b[1:4]

TypeError: 'tuple' object does not support item deletion

In [144]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233, 10022181, 9930616, 9857426, 9838892]

In [145]:
print(year[-3:])
print(population[-3:])

[2016, 2017, 2018]
[9930616, 9857426, 9838892]

In [147]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2
print(n[1::2])

(75, -10, 32, -15, 76, 2)

In [149]:
n[1:len(n):2]

(75, -10, 32, -15, 76, 2)

In [150]:
lux = [490,334,550,18.72]

In [151]:
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [152]:
lux

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [154]:
lux = {'health': 490, 'health': 800, 'mana': 334, 'melee': 550, 'armor': 18.72}
lux['health']

800

In [155]:
x = {100:'hundred',False:0, 3.5:[3.5,3.5]}

In [156]:
x

{100: 'hundred', False: 0, 3.5: [3.5, 3.5]}

In [157]:
x ={}
x

{}

In [158]:
y = dict()

In [159]:
lux1 = dict(heatlh=490 , mana=334, melee=550,armor=18.72)
lux1

{'heatlh': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [160]:
lux2 = dict(zip(['health','mana','melee','armor'],[490,334,550,18.72]))

In [161]:
lux2

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [164]:
lux3 = dict(zip(['a','b','c','d'],[1,2,3,4]))

In [165]:
print(lux3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [166]:
lux3 = dict([('health',490),('mana',334),('melee',550),('armor',18.72)])

In [167]:
print(lux3)

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [176]:
lux = dict(zip(['a','b','c'],[1,2,3]))

In [177]:
lux['a']

1

In [178]:
lux = {'health':490, 'mana':334, 'melee':550 , 'armor':18.72}
lux['health'] =3241
lux

{'health': 3241, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [179]:
lux['oss'] = 34234

In [180]:
print(lux)

{'health': 3241, 'mana': 334, 'melee': 550, 'armor': 18.72, 'oss': 34234}

In [181]:
'oss' in lux

True

In [182]:
'melee' in lux

True

In [183]:
'attack_speed' not in lux

True

In [184]:
len(lux)

5

In [185]:

camille = {
    'health': 575.6,
    'health_regen': 1.7,
    'mana': 338.8,
    'mana_regen': 1.63,
    'melee': 125,
    'attack_damage': 60,
    'attack_speed': 0.625,
    'armor': 26,
    'magic_resistance': 32.1,
    'movement_speed': 340
}
print(camille['health'])

575.6

In [187]:
print(camille['movement_speed'])

340

In [188]:
x = 10 
if x == 10:
    print('10입니다')

10입니다

In [189]:
x = 10
if x ==10:
    print('10입니다')

10입니다

In [190]:
x = 10
if x ==10:
    pass

In [192]:
x = 13
if x>= 10:
    print('10이상입니다.')
    if x ==15:
        print('15입니다')
    if x ==20:
        print('20입니다')

10이상입니다.

In [193]:
x = 123
if x>=10:
    print('10이상입니다')
    if x ==15:
        print('15입니다')
    if x ==20:
        print('20입니다')

10이상입니다

In [195]:
x = 98

if x >30 :
    print('30이상입니다')
    if x>100:
        print('자리수가 셋자리수가 넘습니다.')
    if x< 100: 
        print('자리수가 두자리수 입니다')

30이상입니다
자리수가 두자리수 입니다